h1 {
  padding: 7% 0;
}

hr {
  border-style: dotted none none;
  border-color: black;
  border-width: 5px;
  width: 5%;
  margin: 0 auto;
}

/* 
 * Title section: logo and nav bar 
 */

#title {
  padding: 2% 20%;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: 700;
}

/* 
 * Example section: photos with prompts
 */

#examples {
  padding: 5% 5%;
}

.carousel-item {
  padding: 0 15%;
} 

.card-text {
padding: 4% 0;
color: rgba(255, 255, 255, .5);
}

.example-img {
  /* max-width: 18rem; */
  max-width: 80%;
  border-radius: 3%;
}

/* For mobile devices */
@media (max-width: 575px) {
  img {
      max-width: 80%;
  }

}

/*
 * Run section: user form
 */

.user-form {
    max-width: 42em;
    padding: 2%;
}

.form-label {
  color: rgba(255, 255, 255, .5);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #393E46;
}

/*
 * Footer
 */

#footer {
    padding: 2% 0;
}

.contact-icon {
    margin: 20px 10px;
}

p {
    font-size: 1rem;
}

.thankyou-message {
    width: auto;
   
}