<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photify One</title>
    <!--Icons and bootstrap-->
    <script src="https://kit.fontawesome.com/e1b458d3c3.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!--Axios, Bootstrap, index.js -->
    <script src="	https://unpkg.com/axios@0.24.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- <script src="/static/index.js" defer></script> -->

    <!--Custom CSS-->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(91608464, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/91608464" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>

<body>
    <div class="container-fluid oferta">
        <h3 class="text-center"><strong>Публичная оферта</strong></h3>
        <p>Настоящая публичная оферта является предложением оферента <br> <br>
            Виролайнен Яны Акселевны, ИНН 781306304431 <br> <br>
            заключить договор на изложенных далее по тексту условиях, с любым лицом, заинтересованным в получении услуг
            (далее по тексту — Пользователь). <br>
            Под акцептом настоящей публичной оферты понимается заполнение формы на сайте https://photify.one (далее
            Сайт), при которых Пользователь в явном виде указывает свою электронную почту, пол и загружает серию
            изображений. <br>
            В случае акцепта настоящей публичной оферты, лицо, намеренное получить доступ к платным или бесплатным
            услугам Сервиса и/или совершить любые иные действия на Сайте, понимает и подтверждает, что:
        </p>
        <ul>
            <li>Текст публичной оферты понятен, каких-либо вопросов на момент акцепта публичной оферты у Пользователя
                услуг
                нет. </li>
            <li>Согласно пп. 5 п. 1 ст. 6 ФЗ РФ «О персональных данных», допускается обработка персональных данных в
                случае,
                если она необходима для исполнения договора, стороной которого является субъект персональных данных.
                Акцепт
                настоящей публичной оферты означает согласие на обработку персональных данных лица, намеренного получить
                услуги Сервиса. Сервис не передает персональные данные Пользователя третьим лицам. </li>
            <li>Сервис вправе выполнять рассылку уведомлений рекламно-информационного характера пользователю,
                зарегистрированному на Сервисе, с использованием контактной информации (персональных данных, явно
                указанные
                Пользователем при регистрации или ином использовании Сервиса, а также с использованием данных,
                полученных в
                автоматическом режиме от сторонних сервисов (Социальных сетей, Мессенджеров, Операторов связи).
                Рекламно-информационные сообщения могут быть направлены посредством отправки email-сообщений.</li>

            <p class="mb-3">
                Все вопросы, не урегулированные настоящей публичной офертой, решаются в соответствии с действующим
                законодательством Российской Федерации.
            </p>
            <h3 class="text-center" style="margin:0;"><strong>Договор на предоставление услуг по созданию цифровых
                    изображений</strong></h3>
            <h4>(существенные условия)</h4>

            <p>
                <strong>1. Термины и определения</strong><br>
                1.1. «Пользователь» — физическое лицо, которое произвело акцепт публичной оферты для возможности
                пользоваться всеми услугами и всей информацией, предоставленной на Сайте.<br>
                1.2 «Форма» — форма на Сайте, в которой Пользователь указывает свой электронный почтовый адрес, пол, и
                загружает свои фотографии.<br>
                1.3 «Администратор Сервиса» — лицо, являющееся инициатором оферты, предоставляющее услуги создания
                цифровых
                изображений.<br>

            </p>
            <p>
                <strong>2. Предмет договора</strong><br>
                2.1. Предметом настоящего Договора является предоставление услуги создания цифровых изображений на
                основе фотографий Пользователя;
            </p>
            <p>
                <strong>3. Порядок предоставления услуг</strong><br>
                3.1. Предоставление услуги создания цифровых изображений производится следующим образом:<br>
            <ul>
                <li> Пользователь заполняет Форму на Сайте, указывая свой электронный почтовый адрес, пол и загружая
                    15-20
                    фотографий;
                </li>
                <li>Созданные цифровые изображения отправляются Пользователю на указанный в Форме электронный
                    почтовый
                    адрес.
                </li>
            </ul>

            </p>
            <p>
                <strong>4. Стоимость услуг и порядок оплаты</strong><br>
                4.1. Факт оплаты стоимости услуги создания цифровых изображений означает, что Пользователь ознакомлен и
                согласен с представленной на Сайте информацией.<br>
                4.2. Услуги подлежат оплате посредством платежных систем, информация о которых доступна на Сайте.

            </p>
            <p>
                <strong>5. Ответственность </strong><br>
                5.1.Пользователь несет ответственность за несоответствие указанной им информации при заполнение Формы и
                осознает весь риск неблагоприятных последствий, связанных с ее неверным указанием. Администратор Сервиса
                не
                проверяет достоверность предоставленных Пользователем данных.

            </p>
            <p>
                <strong>6. Отказ от услуги Сервиса</strong><br>
                6.1. Отказ от услуги Сервиса после факта оплаты невозможен.
            </p>
            <p>
                <strong>7.Особые условия</strong><br>
                7.1. Сервис вправе использовать созданные цифровые изображения любым способом, без каких-либо
                ограничений.
            </p>
            <p>
                <strong>
                    8. Заключительные положения
                </strong><br>
                8.1. Настоящий Договор действует бессрочно и является Пользовательским Соглашением.<br>
                8.2. По спорным вопросам Сторонами согласована процедура досудебного порядка урегулирования споров. <br>
                8.3. Надлежащим уведомлением Пользователя является отправка писем на электронный почтовый адрес,
                указанный
                Пользователем в Форме. <br>
                8.4.Претензия в адрес Сервиса должна быть передана на электронный почтовый адрес, указанный на Сервисе,
                с
                указанием в теме письма «Спорный вопрос». Администратор Сервиса отправляет претензию на электронный
                почтовый
                адрес Пользователя, указанный им в момент регистрации.<br>
                8.5. При отсутствии соглашения по спорному вопросу в течение 35 (Тридцати пяти) дней со дня получения
                претензии Сервисом или Пользователем, заинтересованная сторона вправе обратиться в судебный орган
                Российской
                Федерации по месту нахождения Администратора Сервиса. <br>
                8.6. Сервис не несет ответственности за сбои, возникающие в телекоммуникационных и энергетических сетях
                или
                сбои оборудования, обеспечивающих функционирование Сервиса; действия вредоносных программ, повлекшие
                прекращение или приостановление работы сети Интернет как в общем, так и в отдельных сегментах сети,
                задействованных при исполнении настоящего Соглашения; за противоправные действия третьих лиц,
                направленные
                на несанкционированный доступ и (или) выведение Сервиса из строя. <br>
                8.7. Настоящее Соглашение может быть изменено Администратором Сервиса в любой момент, в связи с чем на
                Пользователя возложена обязанность еженедельно проверять актуальность текста настоящего Соглашения и
                внимательно читать все опубликованные изменения. <br>
                8.8. Администратор Сервиса предпримет все необходимые меры по предварительному уведомлению Пользователя
                об
                изменении текста настоящего Соглашения, в частности, посредством рассылок сообщений информационного
                характера на адреса электронной почты, указанные при заполнении формы. Тем не менее, обязанность
                Пользователя регулярно просматривать настоящий Договор является приоритетной, и Пользователь не может
                предъявлять претензии к Администрации Сервиса о своем несогласии с изменениями по основаниям неполучения
                соответствующего уведомления. <br>
                8.9. В случае если Администратор Сервиса предоставил Пользователю услугу создания цифровых изображения
                на
                бесплатной основе, к таким услугам Закон «О защите прав потребителей» не применяется. <br>

            </p>
    </div>
</body>

</html>